black
black[jupyter]
bump2version
codespell
coverage
flake8
grip
ipykernel
livereload
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-jupyter>=0.24.7
mkdocs-material
mkdocs-pdf-export-plugin
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python-legacy
nbconvert
pip
sphinx
tox
twine
watchdog
wheel
