# --find-links https://girder.github.io/large_image_wheels GDAL
# cartopy; platform_platform != "Windows"
apache-sedona
bokeh
cenpy
contextily
cubo
dask-geopandas
datashader
duckdb
earthaccess
earthengine-api
earthpy
easystac
eemont
# eomaps
eoreader
fiona
folium
geemap>=0.30.4
# gemgis
geoalchemy2
geocube
geopandas
geotiff
# geosnap
# geoviews
h3
hvplot
ipygany
ipyleaflet
ipyvtklink
keplergl
laspy
leafmap>=0.30.1
# lidar
localtileserver
lonboard
mapboxgl
mapclassify
mapwidget
# movingpandas
mss
netcdf4
networkx
odc-stac
osmnx
owslib
panel
palettable
planetary-computer
plotly
proplot
psycopg2
pydeck
pygis
pyntcloud
pyproj
pysal
pyshp
pystac-client
# pyvista
# radiant-mlhub
rasterio
rasterstats
rio-cogeo
rioxarray
s2cloudless
sarpy
satpy
sentinelsat
shapely
simplekml
sliderule
spyndex
sqlalchemy
stackstac
# tropycal
usgs
whitebox
whiteboxgui
wxee
xarray
xarray-spatial
xee
# xcube; python_version >= '3.9'
# xmovie
xyzservices
