on:
  push:
      branches:
          - master
  pull_request:
      branches:
          - master

name: macOS build
jobs:
  test-macOS:
      runs-on: ${{ matrix.os }}
      name: ${{ matrix.os }} (${{ matrix.python-version}})
      strategy:
          fail-fast: false
          matrix:
            os: ["macOS-latest"]
            python-version: ["3.10"]
      steps:
        - uses: actions/checkout@v3
        - name: Install miniconda
          uses: conda-incubator/setup-miniconda@v2
          with:
              auto-activate-base: true
              python-version: ${{ matrix.python-version}}
        - name: Install GDAL
          run: conda install -c conda-forge gdal --yes
        - name: Test GDAL installation
          shell: sh -l {0}
          run: |
              python -c "from osgeo import gdal"
              gdalinfo --version
        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install --no-cache-dir Cython
              pip install -r requirements.txt
              pip install .